In [34]:
# Import Data Manipulation Libraries
import numpy as np 
import pandas as pd

# Import Data Visualization Libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Import Filter Warning Libraries
import warnings
warnings.filterwarnings('ignore')

# Import logging Files
import logging
logging.basicConfig(level = logging.INFO,
                    filename = 'app.log',
                    filemode = 'w',
                    format = '%(asctime)s - %(levelname)s - %(message)s', force = True)

In [35]:
# Data Import Using Pandas Function 

url = 'https://raw.githubusercontent.com/anirudhajohare19/BankMarketing_MLModel/refs/heads/main/BankTelemarketing.csv'

df = pd.read_csv(url,sep = ';')

df.sample(frac = 1) # Shuffle Dataset

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
14768,38,management,married,tertiary,no,500,yes,yes,cellular,16,jul,81,7,-1,0,unknown,no
23360,30,management,single,tertiary,no,168,no,no,cellular,27,aug,35,13,-1,0,unknown,no
36594,34,blue-collar,single,secondary,no,1599,yes,no,cellular,12,may,59,3,-1,0,unknown,no
12298,39,services,divorced,secondary,no,0,yes,yes,unknown,25,jun,93,2,-1,0,unknown,no
44709,38,management,married,tertiary,no,14352,no,no,unknown,6,sep,8,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20109,44,technician,married,secondary,no,5163,no,no,cellular,11,aug,48,2,-1,0,unknown,no
33075,35,self-employed,single,tertiary,no,329,yes,no,cellular,20,apr,19,7,-1,0,unknown,no
14227,39,management,married,secondary,no,-810,no,yes,cellular,14,jul,77,2,-1,0,unknown,no
6037,32,blue-collar,married,primary,no,4,yes,no,unknown,26,may,76,5,-1,0,unknown,no
35738,46,blue-collar,married,unknown,no,842,yes,no,telephone,8,may,833,1,-1,0,unknown,yes

In [38]:
logging.info('Data Uploded Successfully.....')

In [37]:
# Checking Data Shape and Data Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB